<%= simple_form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    Commenting as: <%= @link.user.name  %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.hidden_field :nested_id, :value => nested_object.id %><br>
    <%= f.hidden_field :nested_type, :value => nested_object.class.to_s %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  </div>
<% end %>
