<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Nested:</strong>
  <%= @comment.nested_id %>
</p>

<p>
  <strong>Nested type:</strong>
  <%= @comment.nested_type %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', links_path %>
