<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
      <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :subreddit_id %><br>
    <%= f.select :subreddit_id, options_for_select(@sub_options, @link.subreddit_id), :prompt => " " %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit Link", class: "btn btn-primary" %>
  </div>
<% end %>
