

  <% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.try(:name) %></small>
    </h2>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
      <%= link_to upvoted_link_path(link), method: :post, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
      <% end %>
      <%= link_to downvoted_link_path(link), method: :post, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        <%= pluralize(link.votes.count - link.downvotes.count, "vote") %>
      <% end %>
    </div>
  </div>

<% if link.user == current_user %>
	<div class="btn-group">
		<%= link_to 'edit', edit_link_path(link), class: "btn btn-default" %>
		<%= link_to 'delete', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>
<% end %>
